<nav>
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Who">Lägg till en kompis</a>
        </li>
        <li>
            <a asp-controller="About" asp-action="Index">Om sidan</a>
        </li>
        <li>
            <a asp-controller="Birthdays" asp-action="index">Vem fyller år när?</a>
        </li>
    </ul>
</nav>