

@{
    ViewData["Title"] = "Grattis";
}

<h1>@ViewBag.p.Name fyller @ViewBag.p.Age år om @ViewBag.p.DaysToCake dagar.</h1>
<p> </p>

<div>
    <a class="btn" asp-controller="Birthdays" asp-action="Index">Kolla in alla kompisarna >></a>
</div>
