@{
    ViewData["Title"] = "Om sidan";
}



<div class="content">
    <h1 class="contentHeader">Vad händer här?</h1>

    <p>@ViewBag.info1</p>
    <br />
    <p>@ViewData["info2"]</p>
</div>

<partial name="_footer" />